# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/

# Test results
TestResults/
*.trx

# Azure Functions local settings
local.settings.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Rider / JetBrains
.idea/

# VS Code
.vscode/

docker-functions.env
test-data/